html {
  height: 100vh;
}
h1 {
  margin: 3.5rem;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  
}
body {
  margin: 0;
  background-color: #191d2b;
  color: #27ae60;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#areaDibujo{  
  background-color: #ffff;
}
#tools{
  margin-top: 2rem;
}
#tools h2{
  font-size: 2.5rem;
  text-align: center;
}
.tools-container{
  display: flex;
  gap: 5rem;
}
label{
  display: flex;
  justify-content: center;
  align-items: center;
}
label span{
  font-size: 1.6rem;
  margin-right: 1.5rem;
  color: #ffff;
}
footer{
  margin-top: 2rem;
  text-align: center;
}
h3{
  font-size: 1.5rem;
  color: #ffff;
}
.heart{
  color: #ff0000;
}